<div class="row header-row"></div>
<div class="row">
    <div class="col-6">
        <div class="product-image">
            <img [src]="product.images[0].image" alt="{{product.title}}">
          </div>       
    </div>
    <div class="col-6">
        <mat-card class="product-info">
            <mat-card-header>
              <mat-card-title class="product-title">
                {{product.brand}} - {{product.name}}
              </mat-card-title>
            </mat-card-header>
          
            <mat-card-content class="product-content">
              <p class="product-description">{{product.description}}</p>
              <p class="product-price">Price: ${{product.price}}</p>
              <div class="product-color">
                <h2>Colors available</h2>
                <mat-button-toggle-group name="favoriteColor" aria-label="Favorite Color" *ngFor="let data of product.images">
                    <mat-button-toggle value="data.color">{{data.color}}</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <div class="product-size">
                <h2>Choose size</h2>
                <mat-select [(value)]="size" (valueChange)="toggle()">
                    <mat-option value="39">39</mat-option>
                    <mat-option value="40">40</mat-option>
                    <mat-option value="41">41</mat-option>
                    <mat-option value="42">42</mat-option>
                  </mat-select>
              </div>
              
            </mat-card-content>
          
            <mat-card-actions>
                <button [disabled]="disabled" (click)="addToCart()">
                    <mat-icon>shopping_cart</mat-icon>
                    Add to Cart</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>




