.container {
    min-height: 720px;
}

.empty-state {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    font-size: 16px;
}

.btn {
    background-color: #3a3a3a;
    color: #fff !important;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 60px;
}

.btn:hover {
    background-color: #333;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    justify-content: flex-start; /* Align items from start */
}

.image-container {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
}

.rowimg {
    max-height: 100px;
    width: 270px;
    box-sizing: content-box;
    transition: transform 450ms;
    margin-right: 20px;
    border-radius: 5px;
    margin-left: 120px;
    border: 1px solid #797979;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 10px;
    &:hover {
        transform: scale(1.09);
        cursor: pointer;
    }
}

.largeposter {
    max-height: 300px;
}

.favorite-icon-button {
    
    bottom: 220px;
    left: 350px;
    z-index: 1;
    position: absolute;
}

.favorite-icon {
    font-size: 24px;
    color: red;
}