
<div class="container-fluid">
  
  <div class="row">
      <div class="col-4 filter-panel">
        <div class="categories-container">
            <h2>Categories</h2>
            <div class="category-buttons">
              <div class="button-row">
                <button class="category-btn" (click)="navigateToMaleShopping()">Men</button>
              </div>
              <div class="button-row">
                <button class="category-btn" (click)="navigateToFemaleShopping()">Women</button>
              </div>
            </div>
          </div>          
          
      </div>
      <div class="col-8">
        <div *ngIf="featuredProducts.length != 0" class="featured-products">
            <div class="product-grid">
                <div *ngFor="let product of featuredProducts" class="product-tile">
                  <mat-card class="product-content">
                    <!-- Image -->
                    <img class="product-poster" [src]="'assets/shoes_images/' + product.images[0].image" alt="Brand Image">
                  
                    <mat-card-content>
                      <!-- Title -->
                      <h2 mat-card-title class="product-title">{{product.name}}</h2>
                      <!-- Description -->
                      <p mat-card-subtitle class="product-description">{{product.description}}</p>
                      <!-- Price -->
                      <p class="product-price">${{product.price}}</p>
                    </mat-card-content>
                  </mat-card>
                </div>
              </div>
            </div>
      </div>
  </div>
  </div>
  
  
  
  