<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height: 100px;">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <div>
          <button mat-icon-button (click)="goToHome()">
            <mat-icon class="home-icon">home</mat-icon>
        </button>
        </div>
        <div
        class="collapse navbar-collapse justify-content-end">
        <div class="search" style="font-size: 20px; margin-right: 10px;">
          <input class="input" *ngIf="showSearchBar"
          type="text" 
          placeholder="Search by brand, shoe..."
          [(ngModel)]="searchQuery"
          (keyup.enter)="search()">
          <mat-icon class="material-icons" (click)="toggleSearchBar()">search</mat-icon>
        </div>      
      

        <button mat-icon-button (click)="goToCart()">
            <mat-icon matBadge="{{value}}" matBadgeColor="primary" class="cart" aria-hidden="false">shopping_cart</mat-icon>
        </button>
        <ul class="navbar-nav">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="goToAccount()">
              <mat-icon>account_circle</mat-icon>
              <span>Account</span>
            </button>
            <button mat-menu-item (click)="goToFavourite()">
              <mat-icon>favorite_border</mat-icon>
              <span>Favourites</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Logout</span>
            </button>
          </mat-menu>
        </ul>
      </div>
    </div>
  </nav>