<div class="home">
  <div class="website-card">
    <img src="assets/shoes-background.jpg" alt="Website Image" class="website-image">
      <h2 class="overlay-text">Find your favourite pairs of shoes!"</h2>
    </div>
  
    
    <div class="shopping-options">
        <mat-card class="shopping-card" (click)="navigateToMaleShopping()">
          <img src="assets/men-shoes.jpg" alt="Male Clothes" class="shopping-image">
          <p class="shopping-description">Constructed from luxury nylons, leathers, and custom hardware, featuring sport details such as hidden breathing vents, waterproof + antimicrobial linings, and more.</p>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <button mat-button class="btn">Shop for Men</button>
            </div>
            <div class="col-4"></div>
          </div>
        </mat-card>
    
        <mat-card class="shopping-card" (click)="navigateToFemaleShopping()">
          <img src="assets/women-shoes.jpg" alt="Female Clothes" class="shopping-image">
          <p class="shopping-description">Constructed from luxury nylons, leathers, and custom hardware, featuring sport details such as hidden breathing vents, waterproof + antimicrobial linings, and more.</p>
          <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
              <button mat-button class="btn">Shop for Women</button>
            </div>
            <div class="col-4"></div>
          </div>
        </mat-card>
      </div>
</div>
  