.container {
    min-height: 720px; 
}

.navigation {
    font-size: 20px;
    /* top right bottom left */
    margin: 20px 0px 20px 20px;
    .section-hover {
      cursor: pointer; 
    }
    
    .section-hover:hover {
      cursor: pointer; 
    }
}

.btn {
    background-color: #3a3a3a;
    color: #fff !important;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    width: 250px;
    height: 60px;  
}
  
.btn:hover {
    background-color: #333;
}