.header-row {
    height: 100px;
    background-color: #3498db;
    .header {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 45px;
        color: white;
    }
}

.container-fluid {
    padding: 20px;
}

////////// FILTERS ////////////

.filter-panel {
    padding: 16px;
    //background-color: #f5f5f5;
    font-size: 20px;
    
    .checkbox-color {
        margin-top: 10px;
        font-size: 20px !important;
        margin-bottom: 10px;
        .single-checkbox{
            font-size: 20px !important;
        }
    }

    .filter-btn {
        margin-top: 20px;
    }
}
  
  .filter-option {
    width: 100%;
    margin-bottom: 16px;
  }

/////////// PRODUCTS ////////////
.featured-products {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 10px;
  }
  
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 20px; /* Add some padding to the grid */
  }
  
  .product-tile {
    flex-basis: calc(33.33%  - 30px); /* Two columns with gutter */
    background-color: white;
    border-radius: 20px;
  }
  
  .product-content {
    text-align: center;
    border-radius: 20px;
    
    .favorite-icon-button {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1; /* Ensure the icon is above other content */
    }
    
    .favorite-icon {
      font-size: 24px;
      color: black; 
    }

    .product-poster {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      background-color: rgb(226, 223, 223);
    }
  
    .product-title {
      font-size: 20px;
      margin: 0;
      font-family: 'Poppins', sans-serif;
      font-weight:100;
    }
  
    .product-description {
      margin-top: 20px;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
    }
  
    .product-price {
      font-size: 16px;
      font-family: 'Poppins', sans-serif;
    }
  }

