.header-row {
    height: 100px;
    background-color: green;
    .header {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 45px;
        color: black;
    }
}

.container-fluid {
    padding: 20px;
}

.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    //background-color: #e71a1a; 
    padding: 20px; /* Add some padding to the grid */
    border-radius: 10px; /* Add rounded corners to the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the background */
	background-size: cover;
}


.movie-tile {
    flex-basis: calc(50% - 30px); /* Two columns with gutter */
}

.movie-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
	background-color: rgb(243, 240, 240);
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-header {
    margin-bottom: 10px;
}

.movie-title {
    font-size: 20px;
    margin: 0;
}

.movie-subtitle {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.movie-content {
    text-align: center;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-plot {
    margin-top: 20px;
    text-align: justify;
}

.movie-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.info-button {
    background-color: #ffd740;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.info-button:hover {
    background-color: #eb8e23;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

//////FILTERS/////////////////
.filter-panel {
    padding: 16px;
    background-color: #f5f5f5;
    font-size: 20px;
    
    .select-category {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .checkbox-color {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .filter-btn {
        margin-top: 20px;
    }
}
  
  .filter-option {
    width: 100%;
    margin-bottom: 16px;
  }