.header-row {
    height: 100px;
    background-color: #007bff;
    .header {
        margin-top: 30px;
        margin-left: 30px;
        font-size: 45px;
        color: white;
    }
}

.container-fluid {
    padding: 20px;
}

////////// FILTERS ////////////

.filter-panel {
    padding: 16px;
    background-color: #f5f5f5;
    font-size: 20px;
    
    .checkbox-color {
        margin-top: 10px;
        font-size: 20px !important;
        margin-bottom: 10px;
        .single-checkbox{
            font-size: 20px !important;
        }
    }

    .filter-btn {
        margin-top: 20px;
    }
}
  
  .filter-option {
    width: 100%;
    margin-bottom: 16px;
  }

/////////// PRODUCTS ////////////
.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    //background-color: #e71a1a; 
    padding: 20px; /* Add some padding to the grid */
    border-radius: 10px; /* Add rounded corners to the background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to the background */
	background-size: cover;
}


.product-tile {
    flex-basis: calc(33.33%  - 30px); /* Two columns with gutter */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
	background-color: rgb(243, 240, 240);
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-header {
    margin-bottom: 10px;
}

.product-title {
    font-size: 20px;
    margin: 0;
}

.product-subtitle {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.product-content {
    text-align: center;
}

.product-poster {
    max-width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 10px;
}

.product-description {
    margin-top: 20px;
    text-align: justify;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.product-poster {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}